.qz-icon-ok {
    color: green;
}
.qz-icon-danger {
    color: red;
}
.qz-icon-warning {
    color: #FFD300;
}
.qz-icon-info {
    color: #0077dd;
}
.qz-icon-unknown {
    color: #530E53;
}

div.qz-question-wrapper {
    width: 90%;
}
div.qz-unanswered {
    border: 3px solid #eee;
}
div.qz-incorrect {
    border: 3px solid red;
}
div.qz-correct {
    border: 3px solid lightgreen;
}
.qz-color-incorrect {
    color: red;
}
.qz-color-correct {
    color: lightgreen;
}
div.qz-question {
    font-size: x-large;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 2.0rem;
}
div.qz-answers {
    width: 80%;
    font-size: large;
    margin-bottom: 20px;
    margin: auto;
    height: 100%;
}
div.qz-answer-wrapper {
    clear: both;
    min-height: 2rem;
    margin-bottom: 25px;
    padding: 5px;
}
div.qz-name {
    font-size: xx-large;
    font-style: italic;
    margin-bottom: 20px;
}
div.qz-introtext {
    font-size: large;
    margin-bottom: 10px;
}
div.qz-buttons {
    padding-top: 20px;
    clear:both;
}
div.qz-answermsg {
    margin-top: 15px;
    font-size: large;
}
div.qz-answerrow {
    width: 80%;
    float: left;
    min-height: 2rem;
    padding: 10px;
}
div.qz-answerrow label {
    font-weight: normal;
}
.qz-answerrow.qz-question {
    width: 90%;
    display: inline-block;
    vertical-align: top;
}
.qz-answerrow.qz-select {
    width: 15px;
    display: inline-block;
    vertical-align: top;
}
.qz-answerrow.qz-icon {
    width: 10%;
    display: inline-block;
    float:right;
}
.qz-finish-msg {
    font-size: large;
    clear: both;
    width: 80%;
    margin: 20px auto 20px auto;
}
/* Add additional styling for final pass or failure messages */
.qz-finish-msg.danger {
}
.qz-finish-msg.success {
}
