.qz-icon-ok {
    color: green;
}
.qz-icon-danger {
    color: red;
}
.qz-icon-warning {
    color: #FFD300;
}
.qz-icon-info {
    color: #0077dd;
}
.qz-icon-unknown {
    color: #530E53;
}

div.qz-question-wrapper {
    width: 90%;
}
div.qz-unanswered {
    border: 3px solid transparent;
}
div.qz-incorrect {
    border: 3px solid red;
}
div.qz-correct {
    border: 3px solid lightgreen;
}
.qz-color-incorrect {
    color: red;
}
.qz-color-correct {
    color: lightgreen;
}
div.qz-question {
    font-size: x-large;
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 2.0rem;
}
div.qz-answers {
    width: 80%;
    font-size: large;
    margin-bottom: 20px;
    margin: auto;
}
div.qz-answers div {
    clear: both;
    min-height: 2rem;
    margin-bottom: 10px;
    padding: 5px;
}
div.qz-name {
    font-size: xx-large;
    font-style: italic;
    margin-bottom: 20px;
}
div.qz-introtext {
    font-size: large;
    margin-bottom: 10px;
}
div.qz-buttons {
    margin-top: 20px;
}
div.qz-answermsg {
    margin-top: 15px;
    font-size: large;
}
div.qz-answerrow label {
    font-weight: normal;
}
.qz-answerrow-question {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}
.qz-answerrow-select {
    width: 5px;
    display: inline-block;
    vertical-align: top;
}
.qz-answerrow-icon {
    width: 10%;
    display: inline-block;
    float:right;
}
