<plugin>
    <id>quizzer</id>
    <name>Quizzer</name>
    <description>Provides the ability to create custom quizzes to collect data from users.</description>
    <version>0.0.1</version>
    <glfusionversion>1.7.0</glfusionversion>
    <phpversion>7.0.0</phpversion>
    <requires>lglib</requires>
    <url>http://www.leegarner.com</url>
    <maintainer>Lee Garner</maintainer>
</plugin>
