<plugin>
    <id>quizzer</id>
    <name>Quizzer</name>
    <description>Provides the ability to create custom quizzes to collect data from users.</description>
    <version>0.1.1.1</version>
    <glfusionversion>2.0.0</glfusionversion>
    <phpversion>7.4.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Lee Garner</maintainer>
</plugin>
